/* .kontener {
  text-align: center;
} */
/* 
.content {
  display: flex;
  text-align: center;
  max-width: 50%;
}

.content .heading {
  margin-bottom: 50px;
} */

#aboutUs {
  padding-bottom: 2rem;
}
