/* .cards {
  background-size: 150px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 5px 6px 6px 2px #712d08;
  transform: scale(1.1);
} */

/* #containerAlasan {
  display: flex;
} */

.boxFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.boxAlasan {
  width: 100%;
  padding: 0 5px;
  border: 2px solid #6db5ff;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

#containerAlasan h1 {
  margin-bottom: 30px;
}

.panelAlasan {
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-in;
}

.iconAlasan {
  position: relative;
  height: 30px;
  width: 30px;
  color: #e4f2fb;
  font-size: 15px;
  /* float: right; */
  display: block;
  background: #6db5ff;
  border-radius: 50%;
}
